/* ───────────────────────────────────────────────────── */
/** Fuchsia Color Scheme
──────────────────────────────────────────────────── */
body {
  --tw-fuchsia-50: oklch(0.977 0.017 320.058);
  --tw-fuchsia-100: oklch(0.952 0.037 318.852);
  --tw-fuchsia-200: oklch(0.903 0.076 319.62);
  --tw-fuchsia-300: oklch(0.833 0.145 321.434);
  --tw-fuchsia-400: oklch(0.74 0.238 322.16);
  --tw-fuchsia-500: oklch(0.667 0.295 322.15);
  --tw-fuchsia-600: oklch(0.591 0.293 322.896);
  --tw-fuchsia-700: oklch(0.518 0.253 323.949);
  --tw-fuchsia-800: oklch(0.452 0.211 324.591);
  --tw-fuchsia-900: oklch(0.401 0.17 325.612);
  --tw-fuchsia-950: oklch(0.293 0.136 325.661);
  /* vivid pink */
  --tw-vivid-pink: oklch(0.6902 0.277 332.77);
}

/* ───────────────────────────────────────────────────── */
/** Changed Obsidian Colors
/*  (variables dependent on color scheme variables)
──────────────────────────────────────────────────── */
.theme-light {
  --bg-sat: 25%;
  --bg-hue: 293;

  --color-base-00: hsl(var(--bg-hue) calc(var(--bg-sat) * 1.5) 99%);
  --color-base-10: hsl(var(--bg-hue) var(--bg-sat) 97%);
  --color-base-20: hsl(var(--bg-hue) var(--bg-sat) 95%);
  --color-base-25: hsl(var(--bg-hue) var(--bg-sat) 92%);
  --color-base-30: hsl(var(--bg-hue) var(--bg-sat) 88%);
  --color-base-35: hsl(var(--bg-hue) var(--bg-sat) 83%);
  --color-base-40: hsl(var(--bg-hue) var(--bg-sat) 74%);
  --color-base-50: hsl(var(--bg-hue) var(--bg-sat) 67%);
  --color-base-60: hsl(var(--bg-hue) var(--bg-sat) 44%);
  --color-base-70: hsl(var(--bg-hue) var(--bg-sat) 35%);
  --color-base-85s: hsl(var(--bg-hue) calc(var(--bg-sat) * 2) 24%);
  --color-base-100: hsl(var(--bg-hue) var(--bg-sat) 13%);

  --text-muted: var(--color-base-70);
  --text-faint: var(--color-base-50);

  /* overwrite Obsidian variables w/ --bg colors for consistency with plugins */
  --bg1: var(--color-base-00);
  --bg2: var(--color-base-10);
  --bg3: var(--color-base-20);
  --bg4: var(--color-base-25);
  --bg5: var(--color-base-30);
  --bg6: var(--color-base-35);

  --background-primary: var(--bg1);
  --background-primary-alt: var(--bg2);
  --background-secondary: var(--bg3);
}

/* ───────────────────────────────────────────────────── */
/** Theme Overrides
──────────────────────────────────────────────────── */
.theme-light {
  /* Obsidian's accent color in "Settings > Appearance"  */
  --accent-h: 292.8;
  --accent-s: 100%;
  --accent-l: 70.8%;

  /* Override the app's accent color for interactive elements */
  /* --color-accent-hsl needs commas, otherwise dependent colors are not display correctly */
  --color-accent-hsl: 288.8, 96%, 90.2%;
  --color-accent: var(--tw-fuchsia-300);

  --alt-heading-color: hsl(232 34% 50%);
  --secondary-accent: hsl(28 54% 51%);

  --text-accent: var(--tw-fuchsia-500);
  --text-accent-hover: var(--tw-fuchsia-600);
  /* text on accent background */
  --text-on-accent: var(--tw-fuchsia-800);

  --bg3: color-mix(in srgb, var(--tw-fuchsia-500) 5%, white);
  --workspace-background-translucent: hsl(293 25% 95%) !important;

  --interactive-accent-hsl: 288.8, 96%, 90.2%;
  --interactive-normal: var(--color-base-00);
  --interactive-hover: var(--tw-fuchsia-50);
  --interactive-accent: var(--tw-fuchsia-200);
  --interactive-accent-hover: color-mix(in srgb, var(--tw-fuchsia-300), white 20%);
  scrollbar-color: color-mix(in oklch, var(--tw-fuchsia-300) 35%, #0000) #0000;

  /* Tree items (file explorer, outline, etc.) */
  --color-activated-tab-header-light: var(--tw-fuchsia-800);
  --nav-item-color-hover: var(--text-normal);
  --nav-item-color-active: var(--tw-fuchsia-500);
  --background-modifier-hover: hsla(var(--interactive-accent-hsl), 0.5);
  --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.5);
  --nav-heading-color: var(--tw-fuchsia-800);

  /* Dividers (like hr or resize handles) */
  /* so the divider part at the top does not stand out */
  --divider-color-hover: var(--tw-fuchsia-200);
  --vault-profile-color: var(--text-muted);
  --workspace-divider-color: var(--tw-fuchsia-200);
  --tab-outline-color: color-mix(in oklab, var(--text-on-accent) 20%, transparent);

  /* toggles */
  --toggle-track-enabled-color: var(--tw-fuchsia-200);
  --toggle-track-color: #cfc3c9;

  /* button outline (instead of shadow) */
  --input-shadow: 0 0 0 1px var(--btn-border-color);
  --input-shadow-hover: 0 0 0 1px var(--btn-border-color-hover);
  --btn-border-color: color-mix(in oklab, var(--text-on-accent) 20%, transparent);
  --btn-border-color-hover: color-mix(in oklab, var(--text-on-accent) 60%, transparent);

  /* blockquotes */
  --blockquote-border-color: var(--text-faint);
  --blockquote-color: var(--text-muted);
  --blockquote-border-color: hsl(230 25% 67%);
  --blockquote-color: rgb(31, 41, 92);

  --background-modifier-border: color-mix(in oklab, var(--text-on-accent) 20%, transparent);
}

/* make heading indicators bigger  */
body:not(.collapse-icon-restore) .is-live-preview .HyperMD-header .collapse-indicator.collapse-icon svg,
body:not(.collapse-icon-restore) :is(.markdown-rendered, .markdown-preview-view) :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) .collapse-indicator.collapse-icon svg {
  scale: 1.5;
  transform: translateX(-2px);
}


/* ====== text selection ====== */
::selection {
  background: color-mix(in srgb, var(--selection-color) 10%, var(--octonary-contrast));
  color: color-mix(in srgb, var(--selection-color) 40%, var(--primary-contrast));
}

.theme-light {
  --selection-color: var(--vivid-pink) !important;
}

.theme-dark {
  --selection-color: var(--bright-blue);
}

/* ====== scrollbar ====== */
body {
  --scrollbar-bg: transparent;
  --scrollbar-thumb-bg: transparent;
  scrollbar-color: color-mix(in oklch, var(--text-accent) 35%, #0000) #0000;
  scrollbar-width: thin;
}

/* make heading indicators bigger  */
body:not(.collapse-icon-restore) .is-live-preview .HyperMD-header .collapse-indicator.collapse-icon svg,
body:not(.collapse-icon-restore) :is(.markdown-rendered, .markdown-preview-view) :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) .collapse-indicator.collapse-icon svg {
  scale: 1.5;
  transform: translateX(-2px);
}

/* ====== tabs ====== */
/* active tab */
.is-focused .workspace-leaf.mod-active .view-header-title {
  color: var(--text-accent);
}


/*---
 Add spacing between the page content and the frontmatter/inline title
---*/
.markdown-preview-view .mod-header.mod-ui:has(.inline-title, .metadata-container),
.markdown-source-view.is-live-preview.cm-s-obsidian .metadata-container {
  margin-bottom: var(--heading-spacing);
}
/* if no properties in editing view, add margin to the inline title instead */
.markdown-source-view.is-live-preview.cm-s-obsidian .cm-sizer:has(.metadata-container[data-property-count="0"]) > .inline-title:not([data-level]) {
  margin-bottom: var(--heading-spacing);
}
