/* Option 1: <figcaption>...<figcaption> */
figcaption {
  color: var(--text-muted);
  font-size: var(--font-smaller);
  font-style: italic;
  line-height: 1.5;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  align-items: baseline;
  justify-content: center;
}

/* Option 2: Callouts */
/* .callout[data-callout^="figure"] {
  padding: .5em;
  margin: .5em;

  & .callout-icon {
    display: none;
  }

  & .callout-title {
    padding: 0;
    margin: 0;
  }

  & .callout-content {
    --callout-content-background: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
  }
}

.callout[data-callout^="figure-right"] {
  float: right;
  width: 50%;
}

.callout[data-callout^="figure-left"] {
  float: left;
  width: 50%;
} */

/* Option 2: Add alt-text of images as caption */
/* .workspace-leaf-content p>.image-embed[alt]:not([alt$=".png"], [alt$=".jpg"], [alt$=".jpeg"], [alt$=".tiff"], [alt$=".svg"])::after {
  content: attr(alt);
  font-style: italic;
  color: var(--text-muted);
  margin: 1rem;
  font-size: 90%;
  line-height: 1.5;
  text-align: center;
  display: block;
} */

/* Option 3: Table */
.markdown-rendered table:has(thead > tr:first-child img) {
  --table-text-size: var(--font-smaller);
  --table-text-color: var(--text-muted);
  --table-header-background: white;
  --table-cell-padding: 8px 8px;
  --table-border-width: 0;
  --table-border-color: var(--divider-color);

  /* italicize caption */
  font-style: italic;

  /* make table header background white */
  thead>tr:first-child th {
    background-color: white;
    padding: 0;
    margin: 0;
  }

  /* remove padding inbetween rows */
  tbody>tr:first-child td {
    --table-cell-padding: 8px 8px 0px 8px; /* top right bottom left */
  }
  tbody>tr:not(:first-child) td {
    --table-cell-padding: 0px 8px 8px 8px; /* top right bottom left */
  }

  /* center image */
  thead > tr:first-child img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
