/* ───────────────────────────────────────────────── */
/** Footnotes
 *  https://github.com/chrisgrieser/shimmering-focus/blob/main/source/3-markup/markdown.css
──────────────────────────────────────────────────── */
.theme-light {
  --secondary-accent: hsl(28 54% 51%);
}

.theme-dark {
	--secondary-accent: hsl(28 63% 61%);
}

/* footnotes-references in text */
.cm-footref.cm-footref.cm-footref.cm-footref,
.footnotes li::marker,
.cm-hmd-footnote.cm-hmd-footnote.cm-hmd-footnote.cm-hmd-footnote.cm-hmd-footnote,
.footnote-link {
	color: var(--secondary-accent);
}

/* bold to increase readability */
.cm-footref,
.footnote-link {
	font-weight: 600;
	text-rendering: geometricprecision;
}

/* body .HyperMD-footnote.cm-line.cm-line,
.footnotes.footnotes li {
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 1.2;
} */

/* separator line above the first footnote */
/* .cm-line:not(.HyperMD-footnote) + .HyperMD-footnote.HyperMD-footnote,
.footnotes hr {
	padding-top: 12px;
	border-top: var(--color-base-30) 2px solid;
}

.footnotes hr {
	margin-top: 40px;
	margin-bottom: 0;
}

.cm-line.HyperMD-footnote.HyperMD-footnote {
	padding-left: 0;
}

.footnote-link:hover {
	color: var(--text-accent-hover);
	text-decoration: none;
} */

.footnote-backref {
	margin-left: 5px;
	font-size: 90%;
	color: hsl(230 25% 44%);
	text-decoration: none;
}