/* ---------------------------------------------------------------
  Frontmatter, Metadata
--------------------------------------------------------------- */
.theme-light .mod-root .metadata-container,
.theme-light .metadata-properties-title,
.theme-light .metadata-properties {
  font-family: var(--font-monospace);
}

.theme-light {
  --inline-title-margin-bottom: .75em;
  --hover-accent: #dc388f;
  /* Metadata */
  --metadata-gap: 0px;
  --metadata-input-text-color: var(--text-muted);
  --metadata-input-font-size: var(--font-smallest);
  --metadata-label-font: var(--font-monospace);
  --metadata-label-font-size: 0.75em;
  --metadata-border-radius: var(--radius-s);
  --metadata-border-width: 1px;
  --metadata-label-text-color: var(--text-muted);
  --metadata-label-text-color: var(--text-muted);
  --metadata-label-text-color-hover: var(--text-muted);
}

/* LIVE PREVIEW */
.theme-light .mod-root .metadata-container {
  padding: 0;
  margin-left: 4px;
  margin-right: -4px;
  background-color: var(--background-primary-alt);
  margin-block-end: var(--heading-spacing);
  border: 1px solid var(--metadata-border-color);
  border-radius: var(--radius-s);
}

.theme-light .multi-select-container.multi-select-container .multi-select-input {
  padding-top: 2px;
}

.theme-light .mod-root .metadata-add-button.metadata-add-button {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30px;
  padding: 4px 6px;
  margin-top: 0px;
  font-size: 75%;
  font-style: italic;
  background: var(--color-base-25);
  border-top: 1px solid var(--metadata-border-color);
  border-left: 1px solid var(--metadata-border-color);
  border-radius: var(--radius-s) 0 var(--radius-s) 0;
}

.theme-light .metadata-add-button.text-icon-button .text-button-label {
  display: none;
}

/* heading */
.theme-light .metadata-properties-heading:not(.is-collapsed) {
  display: block;
  padding: 0;
  margin: 0;
}

.theme-light .metadata-properties-heading:not(.is-collapsed) .metadata-properties-title {
  display: none;
}

.theme-light .metadata-properties-heading.is-collapsed {
  padding: 6px 8px;
  margin-bottom: 0;
  font-size: var(--metadata-label-font-size);
}

.theme-light .metadata-properties-heading.is-collapsed .metadata-properties-title {
  color: var(--text-muted);
}

.theme-light .metadata-add-button:hover {
  color: var(--hover-accent);
}

.theme-light .metadata-property-icon {
  padding-right: 4px;
  color: var(--hover-accent);
}

.theme-light .metadata-property-icon:hover {
  color: var(--hover-accent);
  background-color: var(--color-base-30);
}

.theme-light .metadata-property-key-input.metadata-property-key-input {
  color: var(--text-muted);
}

.theme-light .multi-select-input.multi-select-input {
  font-family: var(--font-interface);
  color: var(--text-normal);
}

.theme-light .metadata-property-icon:before {
  width: var(--size-4-2);
}

body.theme-light .metadata-property:focus-within,
body.theme-light .metadata-property:hover {
  background-color: var(--color-base-25);
  box-shadow: none;
}

/* ---------------------------------------------------------------
  End Frontmatter, Metadata
--------------------------------------------------------------- */
@media screen,
print {
  body {
    --metadata-label-width: calc(9em * var(--metadata-label-width-multiplier, 1))
  }

  body.is-phone {
    --metadata-label-width: calc(7.5em * var(--metadata-label-width-multiplier, 1))
  }

  .metadata-container {
    --metadata-divider-width: 0 !important
  }

  .metadata-properties-heading {
    width: 100%
  }

  .metadata-property-key-input,
  .metadata-input {
    border-bottom: none !important;
    box-shadow: none !important
  }

  .metadata-link {
    width: 100%
  }

  .workspace>.workspace-split:not(.mod-root) .metadata-container .metadata-properties {
    --metadata-divider-width: 0px;
    --metadata-gap: 8px
  }

  .mod-root .metadata-container .metadata-show-source-button,
  .mod-root .metadata-container .metadata-add-button {
    gap: 8px;
    padding-inline-start: 8px;
    margin-left: -4px;
    margin-top: var(--metadata-gap)
  }

  body.metadata-heading-off .metadata-properties-heading {
    display: none
  }

  body.metadata-heading-off .hover-popover .metadata-container {
    display: none
  }

  body.metadata-add-property-off .metadata-add-button {
    display: none
  }

  body.metadata-icons-off .metadata-property-icon {
    display: none
  }

  body.metadata-link-nowrap .metadata-link .metadata-link-inner {
    white-space: normal
  }

  .markdown-source-view .metadata-container,
  .markdown-preview-view .metadata-container {
    transform: none
  }

  body.metadata-block {
    --metadata-background: var(--background-primary-alt);
    --metadata-border-width: var(--border-width);
    --metadata-padding: 12px 16px
  }

  body.metadata-block.is-phone .metadata-container {
    --metadata-padding: 8px 12px
  }

  body.metadata-block .metadata-container {
    border-radius: var(--radius-s)
  }

  body.metadata-block .metadata-properties-heading.is-collapsed {
    margin-bottom: 0
  }

  body.metadata-block .metadata-properties-heading .collapse-indicator {
    inset-inline-start: -16px
  }

  body.metadata-block .workspace-split:not(.mod-root) .metadata-container {
    padding: 8px !important
  }

  body {
    --metadata-gap: 0;
    --metadata-padding: 0;
    --metadata-property-radius: var(--radius-m);
    --metadata-property-radius-hover: var(--radius-m);
    --metadata-property-radius-focus: var(--radius-m)
  }

  /* Hide Metadata Heading -------------------------------------- */
  body .metadata-container .metadata-properties-heading {
    display: none
  }

  /* Autohide Add Properties Button ------------------------------------ */
  body .metadata-container .metadata-show-source-button,
  body .metadata-container .metadata-add-button {
    display: flex;
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
    margin-top: 4px;
    margin-left: 0;
    padding-block: 4px;
    padding-inline-start: 12px;
    width: fit-content
  }

  body .markdown-reading-view .metadata-container:not(:hover) .metadata-show-source-button,
  body .markdown-reading-view .metadata-container:not(:hover) .metadata-add-button {
    opacity: 0;
    margin-top: 0;
    padding-block: 0;
    height: 0
  }
}