/* inspired by Medium  */
/* .theme-light {
  --green-highlighter: rgb(232, 243, 232);
  --green-highlighter-hover: rgb(187, 219, 186);
  --text-highlight-bg: var(--green-highlighter);
} */

/* .theme-light .markdown-preview-view mark:hover {
  background-color: var(--text-highlighter-hover);
  --text-highlighter-hover: #FFB86CA6;
}

mark,
.markdown-rendered mark {
  margin: 0 -0.05em;
  padding: 0.125em 0.15em;
  border-radius: .25em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
} */
