body {
  --anim-speed-modifier: 1;
  --anim-motion-baseline: cubic-bezier(0.1, 0, 0.1, 1.25);
  --anim-duration-superfast: calc(80ms * var(--anim-speed-modifier));
  --anim-duration-fast: calc(160ms * var(--anim-speed-modifier));
  --anim-duration-moderate: calc(320ms * var(--anim-speed-modifier));
  --anim-duration-slow: calc(640ms * var(--anim-speed-modifier));
}

/* ====== Vector ====== */
.lucide-folder-closed {
  path[d="M2 10h20"] {
    display: none;
  }
}
.lucide-arrow-left {
  path[d="M19 12H5"] {
    display: none;
  }
  path[d="m12 19-7-7 7-7"] {
    transform: translateX(2px);
  }
}
.lucide-arrow-right {
  path[d="M5 12h14"] {
    display: none;
  }
}
.lucide-edit-3 {
  path[d="M12 20h9"] {
    display: none;
  }
}

/* ====== Animations ====== */
.workspace svg.svg-icon {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline)
}

@starting-style {
  .workspace .clickable-icon:not(.workspace-ribbon>.sidebar-toggle-button>.clickable-icon) svg.svg-icon {
    filter: blur(4px);
    scale: .75;
    opacity: 0
  }
}

.workspace .clickable-icon:not([aria-disabled=true]):active svg.svg-icon,
.workspace .mod-sidedock .workspace-tab-header.tappable:active svg.svg-icon {
  scale: .75;
  opacity: .75
}

.workspace .workspace-tab-header-tab-list .clickable-icon:is(:hover, .has-active-menu) svg.svg-icon {
  transform: translateY(1px)
}

.workspace .view-header-nav-buttons .clickable-icon:not([aria-disabled=true]):first-child:hover svg.svg-icon {
  transform: translateX(-1px)
}

.workspace .view-header-nav-buttons .clickable-icon:not([aria-disabled=true]):last-child:hover svg.svg-icon {
  transform: translateX(1px)
}

/* ====== Sidebar Toggle Button ====== */
.sidebar-toggle-icon-inner {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline)
}

.sidebar-toggle-button .clickable-icon:hover .sidebar-toggle-icon-inner {
  width: 24%
}

.workspace.is-left-sidedock-open .sidebar-toggle-button.mod-left .clickable-icon:hover .sidebar-toggle-icon-inner,
.workspace.is-right-sidedock-open .sidebar-toggle-button.mod-right .clickable-icon:hover .sidebar-toggle-icon-inner {
  width: revert-layer
}