mjx-container {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-light mjx-container {
  /* make math more readable on light mode */
  color: #161616;
  color: black;
}

.theme-dark mjx-container {
  /* make math more readable on dark mode */
  color: white;
}

:is(i, em, strong, u, mark, .callout-title) mjx-container {
  color: inherit !important;
  background-color: inherit !important;
}

mjx-container [style="color: red;"] {
  color: var(--color-red) !important;
  -webkit-font-smoothing: subpixel-antialiased;
}

mjx-container [style="color: yellow;"] {
  color: var(--color-yellow) !important;
  -webkit-font-smoothing: subpixel-antialiased;
}

mjx-container [style="color: blue;"] {
  color: var(--color-blue) !important;
  -webkit-font-smoothing: subpixel-antialiased;
}

mjx-container [style="color: green;"] {
  color: var(--color-green) !important;
  -webkit-font-smoothing: subpixel-antialiased;
}

mjx-container [style="color: orange;"] {
  color: var(--color-orange) !important;
  -webkit-font-smoothing: subpixel-antialiased;
}

mjx-container [style="color: purple;"] {
  color: var(--color-purple) !important;
  -webkit-font-smoothing: subpixel-antialiased;
}

mjx-container [style="color: pink;"] {
  color: var(--color-pink) !important;
  -webkit-font-smoothing: subpixel-antialiased;
}

mjx-container [style="color: cyan;"] {
  color: var(--color-cyan) !important;
  -webkit-font-smoothing: subpixel-antialiased;
}

mjx-container [style="color: gray;"] {
  color: var(--gray-500) !important;
  -webkit-font-smoothing: subpixel-antialiased;
}

.theme-light mjx-container :is([style="color: black;"], [style="color: white;"]) {
  color: black !important;
  -webkit-font-smoothing: subpixel-antialiased;
}

.theme-dark mjx-container :is([style="color: black;"], [style="color: white;"]) {
  color: white !important;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* .math-block>mjx-container[jax="CHTML"][display="true"] {
  margin-block: 1em;
} */

mjx-container {
  font-size: 110%;
}

.math-block>mjx-container {
  /* wrap math blocks to full width to prevent line breaks */
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
  /* increase font-size */
  font-size: 115%;
}

.math-inline {
  margin: 0 0.05em;
}