mjx-container mjx-math {
  font-size: 110%;
}

.theme-light mjx-container {
  /* make math more readable on light mode */
  color: hsl(232, 15%, 20%);
}

.theme-dark mjx-container {
  /* make math more readable on dark mode */
  color: hsl(232, 15%, 90%);
}

strong mjx-container {
  color: inherit !important;
}

em mjx-container {
  color: inherit !important;
}

mjx-container [style="color: red;"] {
  color: var(--color-red) !important;
}
mjx-container [style="color: blue;"] {
  color: var(--color-blue) !important;
}
mjx-container [style="color: green;"] {
  color: var(--color-green) !important;
}
mjx-container [style="color: orange;"] {
  color: var(--color-orange) !important;
}
mjx-container [style="color: purple;"] {
  color: var(--color-purple) !important;
}
mjx-container [style="color: pink;"] {
  color: var(--color-pink) !important;
}
mjx-container [style="color: cyan;"] {
  color: var(--color-cyan) !important;
}