/*----------------------------------------------------------------
BIGGER POPOVERS
----------------------------------------------------------------*/
body {
  /* used to be 450px */
  --popover-width: 40rem;
  /* used to be 400rem; */
  --popover-height: 500px;
}

div.popover.hover-popover {
  border-radius: 10px;
  transform: ease-in;
  transition: ease-out;
  background-color: var(--background-primary);
  border: 2px solid var(--background-modifier-border) !important;
  max-height: 100%;
}

/* div.popover.hover-popover .markdown-preview-view {
  font-size: 16px !important;
  padding-bottom: 2.5rem;
  padding-top: 1rem;
}

div.popover.hover-popover .markdown-embed-content .markdown-preview-section {
  padding: 0rem;
}

.markdown-embed iframe {
  height: 325px;
}
.popover.hover-popover .markdown-embed {
  height: 25rem;
}
.popover.hover-popover .markdown-embed img {
  max-width: 100%;
  max-height: auto;
  margin: 0em;
} */