/* ───────────────────────────────────────────────── */
/** Stacked Tabs
──────────────────────────────────────────────────── */
.mod-stacked .workspace-tab-header-inner {
	border-right: var(--background-modifier-border) 1px solid;
}

.theme-dark {
  /* brighter white */
  --color-activated-tab-header-dark: hsl(232, 15%, 90%);
  /* --color-activated-tab-header-dark: var(--bright-blue); */
}

.theme-dark.is-focused .workspace-leaf.mod-active .view-header-title {
  color: var(--bright-blue);
}