/* add alt-text of images as caption */
.image-embed[alt]:not([alt$=".png"], [alt$=".jpg"], [alt$=".jpeg"], [alt$=".tiff"])::after {
  content: attr(alt);
  font-style: italic;
  color: var(--text-muted);
}

/* centers image caption */
.image-embed[alt]::after {
  text-align: center;
  display: block;
}

/* center image itself */
.view-content img:not(.emoji) {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* ====== Table figure caption ====== */
.workspace-leaf-content[data-type=markdown] .view-content thead tr:has(img, pre) {
  background: none;
  background-color: white;
}

.theme-dark .workspace-leaf-content[data-type=markdown] .view-content thead tr:has(img, pre) {
  background: none;
}

.workspace-leaf-content[data-type=markdown] .view-content thead:has(img)+tbody td {
  --table-text-size: var(--font-smaller);
  --table-text-color: var(--text-muted);
}

.workspace-leaf-content[data-type=markdown] .view-content thead:has(img, pre)+tbody tr:first-child td {
  /* text-align: center; */
  font-style: italic;
  color: var(--text-muted);
  font-size: var(--font-smaller);
}

.markdown-preview-view thead:has(img)+tbody {
  --table-border-width: 0;
  & tr:first-child td {
    padding: 4px;
  }
  & td {
    padding-top: 0px;
  }
}

/* image in preview */
.markdown-preview-view thead tr:first-child th {
  padding: 4px;
}

/* shrink-wrap to image + text */
body:not(.table-width-obsidian-default) .markdown-preview-view table:has(thead > tr:first-child img[alt*="figure"]) {
  display: inline-table;
  width: auto !important;
}

/* default center */
.markdown-preview-view .el-table:has(thead > tr:first-child img[alt*="figure"]) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* float table to the right */
.markdown-preview-view .el-table:has(thead > tr:first-child img[alt*="figure-right"]) {
  float: right;
  margin-left: 1em;
}

/* float table to the left */
.markdown-preview-view .el-table:has(thead > tr:first-child img[alt*="figure-left"]) {
  float: left;
  margin-right: 1em;
}