body {
  --anim-speed-modifier: 1;
  --anim-motion-baseline: cubic-bezier(0.1, 0, 0.1, 1.25);
  --anim-duration-superfast: calc(80ms * var(--anim-speed-modifier));
  --anim-duration-fast: calc(160ms * var(--anim-speed-modifier));
  --anim-duration-moderate: calc(320ms * var(--anim-speed-modifier));
  --anim-duration-slow: calc(640ms * var(--anim-speed-modifier));
}

/* ====== Tab Header Buttons ====== */
body:not(.mod-macos):not(.is-mobile) .titlebar .titlebar-button-container.mod-right .titlebar-button {
  justify-content: center;
  flex: 1
}

body:not(.mod-macos):not(.is-mobile) .titlebar .titlebar-button-container.mod-right .titlebar-button:hover {
  color: rgb(var(--mono-rgb-100))
}

body:not(.mod-macos):not(.is-mobile) .titlebar .titlebar-button-container.mod-right .titlebar-button path,
body:not(.mod-macos):not(.is-mobile) .titlebar .titlebar-button-container.mod-right .titlebar-button rect,
body:not(.mod-macos):not(.is-mobile) .titlebar .titlebar-button-container.mod-right .titlebar-button circle {
  visibility: hidden
}

body:not(.mod-macos):not(.is-mobile) .titlebar .titlebar-button-container.mod-right .titlebar-button svg {
  -webkit-mask-size: 100% 100%;
  background-color: currentcolor;
  width: auto;
  height: 10px
}

body:not(.mod-macos):not(.is-mobile) .titlebar .titlebar-button-container.mod-right .titlebar-button.mod-minimize svg {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='2' fill='none' viewBox='0 0 12 2'%3e%3cpath fill='black' d='M.598 1.201A.604.604 0 0 1 0 .604.61.61 0 0 1 .598 0h10.804c.324 0 .598.281.598.604a.605.605 0 0 1-.598.597H.598Z'/%3e%3c/svg%3e")
}

body:not(.mod-macos):not(.is-mobile) .titlebar .titlebar-button-container.mod-right .titlebar-button.mod-maximize svg {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' viewBox='0 0 12 12'%3e%3cpath fill='black' d='M1.77 12C.825 12 0 11.175 0 10.23V1.77C0 .83.828 0 1.77 0h8.46C11.167 0 12 .833 12 1.77v8.46c0 .942-.83 1.77-1.77 1.77H1.77Zm8.431-1.201a.605.605 0 0 0 .598-.598V1.8a.606.606 0 0 0-.599-.6H1.8a.605.605 0 0 0-.6.6v8.4c0 .325.273.598.598.598H10.2Z'/%3e%3c/svg%3e")
}

body:not(.mod-macos):not(.is-mobile) .titlebar .titlebar-button-container.mod-right .titlebar-button.mod-close svg {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' viewBox='0 0 12 12'%3e%3cpath fill='black' d='m6 6.848-4.975 4.974a.618.618 0 0 1-.856.006.618.618 0 0 1 .006-.855L5.15 5.998.175 1.024c-.226-.227-.24-.628 0-.85a.606.606 0 0 1 .85 0l4.974 4.975L10.974.174a.606.606 0 0 1 .85 0 .606.606 0 0 1 0 .85L6.848 5.998l4.974 4.975a.606.606 0 0 1 0 .85c-.222.239-.623.225-.85 0L6 6.847Z'/%3e%3c/svg%3e")
}

body:not(.mod-macos):not(.is-mobile) .titlebar .titlebar-button-container.mod-right.is-maximized .titlebar .titlebar-button-container.mod-right .titlebar-button.mod-maximize svg {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' viewBox='0 0 12 12'%3e%3cpath fill='black' d='M10.799 3.557C10.799 2.27 9.67 1.2 8.396 1.2H2.502a1.808 1.808 0 0 1 1.7-1.2h4.194C10.352 0 12 1.641 12 3.598v4.2c0 .758-.484 1.45-1.201 1.7V3.557ZM1.769 12C.826 12 0 11.175 0 10.23V4.172c0-.941.828-1.77 1.77-1.77h6.058c.945 0 1.77.825 1.77 1.77v6.058c0 .942-.829 1.77-1.77 1.77H1.77Zm6.03-1.201a.61.61 0 0 0 .603-.598v-6a.607.607 0 0 0-.603-.603h-6A.61.61 0 0 0 1.2 4.2v6c0 .325.273.598.598.598h6Z'/%3e%3c/svg%3e")
}

.lucide-folder-closed path[d="M2 10h20"] {
  display: none
}

.lucide-arrow-left path[d="M19 12H5"] {
  display: none
}

.lucide-arrow-left path[d="m12 19-7-7 7-7"] {
  transform: translateX(2px)
}

.lucide-arrow-right path[d="M5 12h14"] {
  display: none
}

.lucide-edit-3 path[d="M12 20h9"] {
  display: none
}

/* ====== Sidebar Toggle Button ====== */
.workspace svg.svg-icon {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline)
}

@starting-style {
  .workspace .clickable-icon:not(.workspace-ribbon>.sidebar-toggle-button>.clickable-icon) svg.svg-icon {
    filter: blur(4px);
    scale: .75;
    opacity: 0
  }
}

.workspace .clickable-icon:not([aria-disabled=true]):active svg.svg-icon,
.workspace .mod-sidedock .workspace-tab-header.tappable:active svg.svg-icon {
  scale: .75;
  opacity: .75
}

.workspace .workspace-tab-header-tab-list .clickable-icon:is(:hover, .has-active-menu) svg.svg-icon {
  transform: translateY(1px)
}

.workspace .view-header-nav-buttons .clickable-icon:not([aria-disabled=true]):first-child:hover svg.svg-icon {
  transform: translateX(-1px)
}

.workspace .view-header-nav-buttons .clickable-icon:not([aria-disabled=true]):last-child:hover svg.svg-icon {
  transform: translateX(1px)
}

.sidebar-toggle-icon-inner {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline)
}

.sidebar-toggle-button .clickable-icon:hover .sidebar-toggle-icon-inner {
  width: 24%
}

.workspace.is-left-sidedock-open .sidebar-toggle-button.mod-left .clickable-icon:hover .sidebar-toggle-icon-inner,
.workspace.is-right-sidedock-open .sidebar-toggle-button.mod-right .clickable-icon:hover .sidebar-toggle-icon-inner {
  width: revert-layer
}

.sidebar-toggle-button {
  height: 100%;
  padding-bottom: 8px;
  align-items: center
}

.sidebar-toggle-button .clickable-icon {
  width: fit-content;
  height: fit-content
}